#page {
    background-color: #282b30;
    width: 50%;
    min-height: 200px;
    outline-style: solid;
    outline-color: var(--pastel-darkcyan);
    outline-width: 2px;
    border-radius: var(--default-radius);
    padding: 10px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}